body {
    background: rgba(126, 121, 121, 0.575);
    font-family: 'Averia Serif Libre', cursive;
}
header {
    margin: 0 0 80px 500px;
}
#form {
    background-color: rgb(219, 80, 64);
    border-radius: 50%;
}
form fieldset {
    margin: 0 auto;
    width: 50%;
    border: none;
    padding: 3%;
}
form legend {
    padding: 6px;
    margin: 0 auto;
    border: none;
    border-radius: 10%;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #e8e8e8;
}
form label {
    display: block;
    font-size: 1.1rem;
}
form input {
    width: 100%;
    border: none;
    border-radius: 10%;
    font-size: 1.1rem;
    margin-bottom: 10px;
}
form input.botao {
    display: block;
    width: auto;
    float: right;
}
footer {
    margin-top: 60px;
    text-align: center;
}
footer:hover {
    color: indigo;
}